<footer>
	<div class="row">
		<div class="ali">
			<h4>
				What To Whatch
			</h4>
		</div>
	</div>
	<div class="row row-eq-height">
		<div class="columns">
			<div class="col-lg-3">
				<div class="foot-col">
					<h5>
						About Us
					</h5>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="foot-col">
					<h5>
						About Us
					</h5>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="foot-col">
					<h5>
						About Us
					</h5>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="foot-col">
					<h5>
						About Us
					</h5>
				</div>
			</div>
		</div>
	</div>
</footer>