{% load static %}
{% include 'movierec/head.html' %}

<body>
<label class="hide_name">{% url 'recommendations' %}</label>
{% include 'movierec/navbar.html' %}


<form id="recommendation" action="{% url 'recommendations' %}" method="post">
      {% csrf_token %}
  <div class="container recommendation __down">
    <h3 class="rec_title"> Welcome to our Recommendations Page:</h3><br>
    <div class="row row-eq-height">
      <div class="col-md-6 left_col">
        <div class="year">
          <h4 class="year_title">Choose a year Range: </h4> 
            <h4>From:</h4><span class="time"><select name="from" id="from"></select></span>
            <h4>To:</h4><span class="time"><select name="to" id="to"></select></h4></span>
        </div>
        <div class="choice">
          <h4>Genre:</h4>
          <select name="genre" id="genre">
            <option value="Any">Any</option>
            {% for genre in genres %}
              <option value="{{genre}}">{{genre}}</option>
            {% endfor %}
          </select>

          <h4>User Rating:</h4>
          <select name="imdb" id="imdb">
            <option value="Any">Any</option>
            <option value="> 8">&gt 8</option>
            <option value="6-8">6-8</option>
            <option value="4-6">4-6</option>
            <option value="< 4">&lt 4</option>
          </select>
        </div>

        <div class="choice">
          <h4>Language:</h4>
          <select name="language" id="language">
            <option value="Any">Any</option>
            <option value="en">English</option>
            <option value="es">Spanish</option>
            <option value="fr">French</option>
            <option value="pt">Portuguese</option>
            <option value="zh">Chinese</option>
            <option value="ja">Japanese</option>
            <option value="ko">Korean</option>
            <option value="vi">Vietnamese</option>
            <option value="ru">Russian</option>
            <option value="hi">Hindi</option>
            <option value="ur">Urdu</option>
          </select>
      
          <h4>MPAA Rating:</h4>
          <select name="rating" id="rating">
            <option value="Any">Any</option>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="NC-17">NC-17</option>
            <option value="R">R</option>
            <option value="NR">NR</option>
          </select>

        </div>

      </div>

      <div class="col-md-6 right_col">
        <div class="container-fluid peeps">
          <h4 class="form">People of Interest</h4>
          <div class="people">
            <input id="people" class="text" type="text" placeholder="Will Smith">
          </div>
          <p class="enter">(Press Enter after text)</p>
        </div>

        <div class="container-fluid peeps">
          <h4 class="form">Keywords</h4>
          <div class="keywords">
            <input id="keywords" class="text" type="text" placeholder="Alice, Man, Spider">
          </div>
          <p class="enter">(Press Enter after text)</p>
        </div>

        <div class="container-fluid">
          <h4 class="form">Choose your streaming service</h4>
          <div class="streaming_choice">
            <input class="hide_name" type="checkbox" name="netflix">
            <img id="netflix" class="streaming logo__img" src="{% static 'movierec/images/netflix.png' %}"/>
            <input class="hide_name" type="checkbox" name="amazon">
            <img id="amazon" class="streaming logo__img" src="{% static 'movierec/images/Amazon-logo.png' %}">
            <input class="hide_name" type="checkbox" name="hulu">
            <img id="hulu" class="streaming logo__img" src="{% static 'movierec/images/hulu.png' %}">
          </div>
        </div>
        <input class="submit pull-right" type="submit" value="submit" name="Submit">
      </div>
    </div>
  </div>
</form>

<div class="container-fluid center">
 <div class="row__inner_recommendation">

{% if results %}
  {% for item in results %}
  <div class="tile" data-toggle="modal" data-target="#myModal{{item.identifier}}">
    <div class="tile__media">
      <img class="tile__img" src="{{ item.poster }}" alt=""  />
    </div>
    <div class="tile__details">
     <div class="tile__title">
       {{ item }} ({{item.date}})
     </div>
    </div>
  </div>
  {% endfor %}
{% endif %}
  </div>
</div>

{% if results %}
  {% for item in results %}  
  <!-- Modal -->
<div id="myModal{{item.identifier}}" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{item.title}} ({{item.date}})</h4>
      </div>
      <div class="modal-body  video-container">
        <div class="row">
          <div class="col-lg-8">
            <input type="hidden" id="video" value="{{ item.trailer}}?iv_load_policy=3&showinfo=0&rel=0&modestbranding=1" >
              <div class="likes">
                <span class="dislike pull-right"><button id="down" class="yay"><i class="fa fa-thumbs-down"></i></button></span>
                <span class="like pull-right"><button id="up" class="yay"><i class="fa fa-thumbs-up icon-flipped"></button></i></span>
              </div>
          </div>
          <div class="col-lg-4 text-col">
            <h4 class="summary">Summary:</h4>
            <p class="summary"> {{ item.summary }} </p>
            <div class="gen">
            {% if item.genre.all|length == 1 %}
              <h4> Genre: </h4>
            {% else %}
              <h4> Genres: </h4>
            {% endif %}
              {% for genre in item.genre.all %}
                {% if forloop.last and item.genre.all|length > 1 %}
                  and {{ genre }}
                {% elif forloop.last %}
                  {{genre}}
                {% else %}
                  {{ genre }},
                {% endif %}
              {% endfor %}
              </div>
            <div class="stream">
              <h4>Available on:</h4>
            {% if item.netflix_available  %}
              {% if item.netflix is not None %}
            <a target="blank" href="{{item.netflix}}"><img id="netflix" class="streaming logo__img" src="{% static 'movierec/images/netflix.png' %}"/></a>
              {% else %}
            <a target="blank" href="https://www.netflix.com"><img id="netflix" class="streaming logo__img" src="{% static 'movierec/images/netflix.png' %}"/></a> 
              {% endif %}
            {% endif %}

            {% if item.amazon_available %}
              {% if item.amazon is not None %}
            <a target="blank" href="{{item.amazon}}"><img id="amazon" class="streaming logo__img" src="{% static 'movierec/images/Amazon-logo.png' %}"></a>
              {% else %}
            <a target="blank" href="https://www.amazon.com/Prime-Video/b?node=2676882011"><img id="amazon" class="streaming logo__img" src="{% static 'movierec/images/Amazon-logo.png' %}"></a>
              {% endif %}
            {% endif %}

            {% if item.hulu_available %}
              {% if item.amazon is not None %}
            <a target="blank" href="{{item.hulu}}"><img id="hulu" class="streaming logo__img" src="{% static 'movierec/images/hulu3.png' %}"></a>
            {% else %}
            <a target="blank" href="https://www.hulu.com"><img id="hulu" class="streaming logo__img" src="{% static 'movierec/images/hulu3.png' %}"></a>
            {% endif %}
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endfor %}
{% endif %}
<!-- <div class="loading-center">
  <img class="gif" src="{% static 'movierec/images/loading.gif' %}"></img>
</div> -->

<div class="hide_name">
<input type="hidden" id="hidden_keywords" value="" />
</div>

{% include 'movierec/scripts.html' %}
<script>

//keywords

  var tempkey = "";
  var keywords;
  var k = localStorage.getItem("keywords");

  if(k == null || k.split(",") == "" || k.split(",") == " "){

{% for key in keywords %}

  tempkey +="{{ key }}" + ",";
{% endfor %}

keywords = tempkey;
localStorage.setItem("keywords", tempkey);
} else{
  keywords = localStorage.getItem("keywords");
}

var hidden_keywords = document.getElementById("hidden_keywords");
hidden_keywords.value = keywords; 

//   $.ajax({
//   url: ".",
//   success: function(data){
//     console.log(data);
//   }
// });
  $.getJSON("{% static 'movierec/js/file.json' %}", function(json){
      console.log("Json data: " + json);
    });

</script>



</body>
