{% load static %}
{% include 'movierec/head.html' %}
{% include 'movierec/navbar.html' %}
<!DOCTYPE html>
<body>
<label class="hide_name search_page">{% url 'search' %}</label>


	<div class="row search_bar">
		<div class="search-logo">
			<img src="{% static 'movierec/images/What2Watch.svg' %}">
		</div>
		<form id="search-form" action="{% url 'search' %}" method="post">
			{% csrf_token %}
			<div class="search-text">
				<input id="search_text" type="text" name="search_text" placeholder="Search by Movie Title">
			</div>
			<div class="streaming-services-search">
				<input id="ns" class="hide_name" type="checkbox" name="netflix">
	            <img id="netflix" class="stream-search streaming logo__img" src="{% static 'movierec/images/netflix2.png' %}"/>
	            <input id="as" class="hide_name" type="checkbox" name="amazon">
	            <img id="amazon" class="stream-search streaming logo__img" src="{% static 'movierec/images/amazon_black.png' %}">
	            <input id="hs" class="hide_name" type="checkbox" name="hulu">
	            <img id="hulu" class="stream-search streaming logo__img" src="{% static 'movierec/images/hulu.png' %}">
	            <input id="hbs" class="hide_name" type="checkbox" name="hbo">
	            <img id="hbo" class="stream-search streaming logo__img" src="{% static 'movierec/images/hbo_now_black.png' %}">
	        </div>
	        <input class="submit_search" type="submit" value="submit" name="Submit">
        </form>
	</div>
<div id="success-ajax" class="alert alert-info warning hidden">
  <h4>Searching our Database!</h4>
</div>
<div id="search-query" class="container">
<!-- END -->
	{% for result in results %}
	 <div id="search_results" class="row__inner_recommendation description">
	 	<div class="row row-eq-height">
			<div class="tile_search pull-left">
			    <div class="tile__media">
			      <img id="search_img" class="tile__img" src="{{ result.poster }}" alt=""  />
			    </div>
			</div>
			<div class="search_info">
				<div class="row">
					<h4 class="search_title pull-left">{{result}} ({{result.date}})</h4>
				</div>
				<div class="row">
					<h5 class="search_summary pull-left">{{ result.summary }}</h5>
				</div>
				<div class="row">
					<div class="pull-left search_summary">
						<h5 class="first_genre">
		              	{% for genre in result.genre.all %}
		                	{% if forloop.last and result.genre.all|length > 1 %}
		                  		 and {{ genre }}
		                	{% elif forloop.last %}
		                  		{{genre}}
		                	{% elif forloop.first %}
		                  		{{genre}}
		                  	{% else %}
		                  		, {{genre}}
		                	{% endif %}
		              	{% endfor %}
		              	</h5>
		            </div>
              	</div>
              	<div class="row row-eq-height rated_search">
              		<div class="col-sm-3">
              			<h5 class="search_summary pull-left">Rated: {{result.rating}}</h5>
              		</div>
              		<div class="col-sm-6">
						<a target="blank" href="http://www.imdb.com/title/{{result.imdb}}"><img class="imdb_logo" src="{% static 'movierec/images/imdb_logo.png' %}">
					</div>
              	</div>
			</div>
			<div class="search_info_right">

				<div class="row stream">
		            {% if result.netflix_available  %}
		              {% if result.netflix is not None %}
		            <a class="search_logo" target="blank" href="{{result.netflix}}"><img id="netflix" class="streaming logo__img" src="{% static 'movierec/images/netflix.png' %}"/></a>
		              {% else %}
		            <a class="search_logo" target="blank" href="https://www.netflix.com"><img id="netflix" class="streaming logo__img" src="{% static 'movierec/images/netflix.png' %}"/></a> 
		              {% endif %}
		            {% endif %}

		            {% if result.amazon_available %}
		              {% if result.amazon is not None %}
		            <a class="search_logo" target="blank" href="{{result.amazon}}"><img id="amazon" class="streaming logo__img" src="{% static 'movierec/images/Amazon-logo.png' %}"></a>
		              {% else %}
		            <a class="search_logo" target="blank" href="https://www.amazon.com/Prime-Video/b?node=2676882011"><img id="amazon" class="streaming logo__img" src="{% static 'movierec/images/Amazon-logo.png' %}"></a>
		              {% endif %}
		            {% endif %}

		            {% if result.hulu_available %}
		              {% if result.hulu is not None %}
		            <a class="search_logo" target="blank" href="{{result.hulu}}"><img id="hulu" class="streaming logo__img" src="{% static 'movierec/images/hulu3.png' %}"></a>
		            {% else %}
		            <a class="search_logo" target="blank" href="https://www.hulu.com"><img id="hulu" class="streaming logo__img" src="{% static 'movierec/images/hulu3.png' %}"></a>
		            {% endif %}
		            {% endif %}

		            {% if result.hbo_available %}
		              {% if result.hbo is not None %}
		            <a class="search_logo" target="blank" href="{{result.hbo}}"><img id="hbo" class="streaming logo__img" src="{% static 'movierec/images/hbo_now_white.png' %}"></a>
		            {% else %}
		            <a class="search_logo" target="blank" href="https://www.hbonow.com"><img id="hbo" class="streaming logo__img" src="{% static 'movierec/images/hbo_now_white.png' %}"></a>
		            {% endif %}
		            {% endif %}
	            </div>
			</div>
		</div>
	</div>
	{% endfor %}
<!-- END -->
</div>
{% include 'movierec/footer.html' %}
{% include 'movierec/scripts.html' %}

{% if profile.show_netflix %}
<script>imageSearch('netflix');</script>
{% endif %}

{% if profile.show_amazon %}
<script>imageSearch('amazon');</script>
{% endif %}

{% if profile.show_hulu %}
<script>imageSearch('hulu');</script>
{% endif %}

{% if profile.show_hbo %}
<script>imageSearch('hbo');</script>
{% endif %}

</body>