{% load static %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WhatToWatch</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'movierec/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'movierec/css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>




<!-- <form action="/movierec/form/" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Submit" />
</form> -->

<form action="/movierec/form/" method="post">
  <div class="container recommendation __down">
    <h3 class="rec_title"> Welcome to our Recommendations Page: <br>(make sure to complete all fields)</h3><br>
    <div class="row row-eq-height">
      <div class="col-md-6 left_col">
        <div class="year">
          <h4 class="year_title">Choose a year Range: </h4> 
            <h4>From:</h4><span class="time"><select name="from" id="from"></select></span>
            <h4>To:</h4><span class="time"><select name="to" id="to"></select></h4></span>
        </div>
        <div class="choice">
          <h4>Genre:</h4>
          <select name="genre" id="genre">
            <option value="Horror">Horror</option>
            <option value="Thriller">Thriller</option>
            <option value="Western">Western</option>
            <option value="Animation">Animation</option>
            <option value="Romantic_Comedy">Romantic Comedy</option>
            <option value="film_noir">Film Noir</option>
            <option value="action">Action</option>
            <option value="fiction">Fiction</option>
            <option value="adventure">adventure</option>
            <option value="documentary">Documentary</option>
            <option value="romance">Romance</option>
            <option value="fantasy">Fantasy</option>
          </select>

          <h4>User Rating:</h4>
          <select name="imdb" id="imdb">
            <option value="great">&gt 8</option>
            <option value="good">6-8</option>
            <option value="meh">4-6</option>
            <option value="bad">&lt 4</option>
          </select>
        </div>

        <div class="choice">
          <h4>Current Mood:</h4>
          <select name="mood" id="mood">
            <option value="happy">Happy</option>
            <option value="sad">Sad</option>
            <option value="Angry">Angry</option>
            <option value="pumpped">Pumpped</option>
            <option value="Gloom">Gloomy</option>
            <option value="Evil">Evil</option>
          </select>
      
          <h4>MPAA Rating:</h4>
          <select name="rating" id="rating">
            <option value="all">all</option>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
            <option value="NC-17">NC-17</option>
            <option value="Unrated">Unrated</option>
          </select>

        </div>

      </div>

      <div class="col-md-6 right_col">
        <div class="container-fluid peeps">
          <h4 class="form">People of Interest</h4>
          <div class="people">
            <input id="people" class="text" type="text" placeholder="Will Smith">
          </div>
        </div>

        <div class="container-fluid peeps">
          <h4 class="form">Keywords</h4>
          <div class="people">
            <input id="keywords" class="text" type="text" name="keywords" placeholder="Alice, Man, Spider">
          </div>
        </div>

        <div class="container-fluid">
          <h4 class="form">Choose your streaming service</h4>
          <div>
            <img id="netflix" class="streaming logo__img" src="https://img.clipartfest.com/4f607a97d75e39168a3744dbc5c8cc61_netflix-logo-vector-netflix-clipart-transparent_400-400.png"/>
            <img id="amazon" class="streaming logo__img" src="https://h2savecom.files.wordpress.com/2016/04/amazon-logo-400x200_white_fin.png">
            <img id="hulu" class="streaming logo__img" src="images/hulu.png">
          </div>
        </div>
        <input class="submit pull-right" type="submit" value="submit" name="Submit">
      </div>
    </div>
  </div>
</form>

<div class="container-fluid center">
 <div class="row__inner_recommendation">

{% if results %}
  {% for item in results %}
  <div class="tile" data-toggle="modal" data-target="#myModal{{item.identifier}}">
    <div class="tile__media">
      <img class="tile__img" src="{{ item.poster }}" alt=""  />
    </div>
    <div class="tile__details">
     <div class="tile__title">
       {{ item }}
     </div>
    </div>
  </div>
  {% endfor %}
{% endif %}
  </div>
</div>

{% if results %}
  {% for item in results %}  
  <!-- Modal -->
<div id="myModal{{item.identifier}}" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Tintin</h4>
      </div>
      <div class="modal-body  video-container">
        <div class="row">
          <div class="col-lg-8">
            <iframe src="{{ item.trailer }}" allowfullscreen></iframe>
          </div>
          <div class="col-lg-4 text-col">
            <p> {{ item.summary }} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endfor %}
{% endif %}

    <!-- jQuery Version 1.11.1 -->

    <script src="{% static 'movierec/js/jquery.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'movierec/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'movierec/js/main.js' %}"></script>


